.idea/
.vscode/
__pycache__/
*.pyc
.DS_Store

# Ignore all CSVs by default
*.csv
# --- Exceptions (small files only)
!data/test_mini.csv
!data/sample_upload.csv

# --- Local Secrets ---
.env
.streamlit/secrets.toml
installed.txt